.big-button {
	background: $purple;
	border: none;
	border-bottom: 0.6rem solid darken($purple, 10%);
	width: 100%;
	color: white;
	margin-bottom: $s-size;
	padding: 2rem;
	font-size: $m-size;
	font-weight: bold;
}

.big-button:disabled {
	opacity: 0.5;
}

@media (min-width: $desktop-size) {
	.big-button {
		margin-bottom: $l-size;
	}
}

// regular-button
.button {
	background: $purple;
	border: none;
	border-bottom: 0.3rem solid darken($purple, 10%);
	color: white;
	font-weight: 500;
	padding: 1rem;
}
.button--link {
	background: none;
	border: none;
	color: $off-white;
	padding: 0;
}
